#visibility-main {
  /* padding-left: 70px;
  padding-right: 70px; */
  padding-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: white;
}

#column-1{
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  margin-left: 140px;
}

.visibility-main h3{
 align-self: flex-start
}

section {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  margin-bottom: 14px;
}

section span {
  font-weight: bold;
  opacity: 0.8;
}

section p {
  max-width: 600px;
  opacity: 0.5;
  margin-top: 5px;
}

section #left {
  margin-right: 70px;
}